<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<root>
	<config Str="GameTime" Int="-1"/>
	<config Str="BGM" Text="Stage7"/>
	<config Str="BGMStart" Int="0"/>
	<config/>
	<config Int="3700"/>
	<config Int="3800"/>
	<config Int="3900"/>
	<config Int="7100"/>
	<config Int="7200"/>
	<config Int="7300"/>
	<config Int="7400"/>
	<config Int="7500"/>
	<config Int="7600"/>
	<config Int="7700"/>
	<config Int="7800"/>
	<config Int="7900"/>
	<config Int="8000"/>
	<config Int="8100"/>
	<config Int="8200"/>
	<config Int="8300"/>
	<config Int="8400"/>
	<config Int="8500"/>
	<config Int="8600"/>
	<config Int="8700"/>
	<config Int="8800"/>
	<config Int="8900"/>
	<config Int="9000"/>
	<config Int="9100"/>
	<config Int="9200"/>
	<config Int="9300"/>
	<config Int="9400"/>
	<config Int="9500"/>
	<config Int="9600"/>
	<config Int="9700"/>
	<config Int="9800"/>
	<config Int="9900"/>
	<config Int="10000"/>
	<config/>
	<config Str="EasyStage" Text="stage1"/>
	<config Str="EasyStage" Text="stage2"/>
	<config Str="EasyStage" Text="stage3"/>
	<config Str="EasyStage" Text="stage4"/>
	<config Str="EasyStage" Text="stage5"/>
	<config Str="EasyStage" Text="stage6"/>
	<config Str="EasyStage" Text="stage7"/>
	<config/>
	<config Str="NormalStage" Text="stage1"/>
	<config Str="NormalStage" Text="stage2"/>
	<config Str="NormalStage" Text="stage3"/>
	<config Str="NormalStage" Text="stage4"/>
	<config Str="NormalStage" Text="stage5"/>
	<config Str="NormalStage" Text="stage6"/>
	<config Str="NormalStage" Text="Stage7_Normal"/>
	<config/>
	<config Str="HardStage" Text="stage1"/>
	<config Str="HardStage" Text="stage2"/>
	<config Str="HardStage" Text="stage3"/>
	<config Str="HardStage" Text="stage4"/>
	<config Str="HardStage" Text="stage5"/>
	<config Str="HardStage" Text="stage6"/>
	<config Str="HardStage" Text="stage7"/>
	<config/>
	<config Str="LunaticStage" Text="stage1"/>
	<config Str="LunaticStage" Text="stage2"/>
	<config Str="LunaticStage" Text="stage3"/>
	<config Str="LunaticStage" Text="stage4"/>
	<config Str="LunaticStage" Text="stage5"/>
	<config Str="LunaticStage" Text="stage6"/>
	<config Str="LunaticStage" Text="stage7"/>
	<config/>
	<config/>
	<config/>
	<config/>
	<config/>
	<config/>
	<config Str="RandomAngle" Angle="132"/>
	<config Str="RandomAngle" Angle="142"/>
	<config Str="RandomAngle" Angle="94"/>
	<config Str="RandomAngle" Angle="18"/>
	<config Str="RandomAngle" Angle="328"/>
	<config Str="RandomAngle" Angle="266"/>
	<config Str="RandomAngle" Angle="150"/>
	<config Str="RandomAngle" Angle="127"/>
	<config Str="RandomAngle" Angle="182"/>
	<config Str="RandomAngle" Angle="331"/>
	<config Str="RandomAngle" Angle="166"/>
	<config Str="RandomAngle" Angle="184"/>
	<config Str="RandomAngle" Angle="246"/>
	<config Str="RandomAngle" Angle="312"/>
	<config Str="RandomAngle" Angle="197"/>
	<config Str="RandomAngle" Angle="251"/>
	<config Str="RandomAngle" Angle="293"/>
	<config Str="RandomAngle" Angle="137"/>
	<config Str="RandomAngle" Angle="67"/>
	<config Str="RandomAngle" Angle="72"/>
	<config Str="RandomAngle" Angle="295"/>
	<config Str="RandomAngle" Angle="321"/>
	<config Str="RandomAngle" Angle="349"/>
	<config Str="RandomAngle" Angle="308"/>
	<config Str="RandomAngle" Angle="53"/>
	<config Str="RandomAngle" Angle="229"/>
	<config Str="RandomAngle" Angle="73"/>
	<config Str="RandomAngle" Angle="89"/>
	<config Str="RandomAngle" Angle="8"/>
	<config Str="RandomAngle" Angle="185"/>
	<config Str="RandomAngle" Angle="190"/>
	<config Str="RandomAngle" Angle="301"/>
	<config Str="RandomAngle" Angle="120"/>
	<config Str="RandomAngle" Angle="303"/>
	<config Str="RandomAngle" Angle="313"/>
	<config Str="RandomAngle" Angle="334"/>
	<config Str="RandomAngle" Angle="272"/>
	<config Str="RandomAngle" Angle="122"/>
	<config Str="RandomAngle" Angle="68"/>
	<config Str="RandomAngle" Angle="93"/>
	<config Str="RandomAngle" Angle="179"/>
	<config Str="RandomAngle" Angle="302"/>
	<config Str="RandomAngle" Angle="86"/>
	<config Str="RandomAngle" Angle="342"/>
	<config Str="RandomAngle" Angle="206"/>
	<config Str="RandomAngle" Angle="353"/>
	<config Str="RandomAngle" Angle="46"/>
	<config Str="RandomAngle" Angle="255"/>
	<config Str="RandomAngle" Angle="130"/>
	<config Str="RandomAngle" Angle="220"/>
	<config Str="RandomAngle" Angle="317"/>
	<config Str="RandomAngle" Angle="128"/>
	<config Str="RandomAngle" Angle="59"/>
	<config Str="RandomAngle" Angle="43"/>
	<config Str="RandomAngle" Angle="65"/>
	<config Str="RandomAngle" Angle="305"/>
	<config Str="RandomAngle" Angle="109"/>
	<config Str="RandomAngle" Angle="354"/>
	<config Str="RandomAngle" Angle="278"/>
	<config Str="RandomAngle" Angle="356"/>
	<config Str="RandomAngle" Angle="21"/>
	<config Str="RandomAngle" Angle="274"/>
	<config Str="RandomAngle" Angle="80"/>
	<config Str="RandomAngle" Angle="333"/>
	<config Str="RandomAngle" Angle="300"/>
	<config Str="RandomAngle" Angle="237"/>
	<config Str="RandomAngle" Angle="260"/>
	<config Str="RandomAngle" Angle="187"/>
	<config Str="RandomAngle" Angle="200"/>
	<config Str="RandomAngle" Angle="169"/>
	<config Str="RandomAngle" Angle="358"/>
	<config Str="RandomAngle" Angle="341"/>
	<config Str="RandomAngle" Angle="125"/>
	<config Str="RandomAngle" Angle="123"/>
	<config Str="RandomAngle" Angle="211"/>
	<config Str="RandomAngle" Angle="314"/>
	<config Str="RandomAngle" Angle="165"/>
	<config Str="RandomAngle" Angle="193"/>
	<config Str="RandomAngle" Angle="160"/>
	<config Str="RandomAngle" Angle="265"/>
	<config Str="RandomAngle" Angle="168"/>
	<config Str="RandomAngle" Angle="176"/>
	<config Str="RandomAngle" Angle="306"/>
	<config Str="RandomAngle" Angle="103"/>
	<config Str="RandomAngle" Angle="41"/>
	<config Str="RandomAngle" Angle="7"/>
	<config Str="RandomAngle" Angle="31"/>
	<config Str="RandomAngle" Angle="171"/>
	<config Str="RandomAngle" Angle="138"/>
	<config Str="RandomAngle" Angle="22"/>
	<config Str="RandomAngle" Angle="320"/>
	<config Str="RandomAngle" Angle="261"/>
	<config Str="RandomAngle" Angle="63"/>
	<config Str="RandomAngle" Angle="262"/>
	<config Str="RandomAngle" Angle="74"/>
	<config Str="RandomAngle" Angle="4"/>
	<config Str="RandomAngle" Angle="202"/>
	<config Str="RandomAngle" Angle="51"/>
	<config Str="RandomAngle" Angle="227"/>
	<config Str="RandomAngle" Angle="167"/>
	<config Str="RandomAngle" Angle="117"/>
	<config Str="RandomAngle" Angle="81"/>
	<config Str="RandomAngle" Angle="49"/>
	<config Str="RandomAngle" Angle="164"/>
	<config Str="RandomAngle" Angle="254"/>
	<config Str="RandomAngle" Angle="38"/>
	<config Str="RandomAngle" Angle="129"/>
	<config Str="RandomAngle" Angle="304"/>
	<config Str="RandomAngle" Angle="77"/>
	<config Str="RandomAngle" Angle="222"/>
	<config Str="RandomAngle" Angle="283"/>
	<config Str="RandomAngle" Angle="13"/>
	<config Str="RandomAngle" Angle="87"/>
	<config Str="RandomAngle" Angle="106"/>
	<config Str="RandomAngle" Angle="223"/>
	<config Str="RandomAngle" Angle="39"/>
	<config Str="RandomAngle" Angle="61"/>
	<config Str="RandomAngle" Angle="78"/>
	<config Str="RandomAngle" Angle="277"/>
	<config Str="RandomAngle" Angle="99"/>
	<config Str="RandomAngle" Angle="163"/>
	<config Str="RandomAngle" Angle="152"/>
	<config Str="RandomAngle" Angle="45"/>
	<config Str="RandomAngle" Angle="250"/>
	<config Str="RandomAngle" Angle="280"/>
	<config Str="RandomAngle" Angle="159"/>
	<config Str="RandomAngle" Angle="83"/>
	<config Str="RandomAngle" Angle="140"/>
	<config Str="RandomAngle" Angle="259"/>
	<config Str="RandomAngle" Angle="345"/>
	<config Str="RandomAngle" Angle="173"/>
	<config Str="RandomAngle" Angle="360"/>
	<config Str="RandomAngle" Angle="226"/>
	<config Str="RandomAngle" Angle="285"/>
	<config Str="RandomAngle" Angle="134"/>
	<config Str="RandomAngle" Angle="327"/>
	<config Str="RandomAngle" Angle="338"/>
	<config Str="RandomAngle" Angle="270"/>
	<config Str="RandomAngle" Angle="346"/>
	<config Str="RandomAngle" Angle="54"/>
	<config Str="RandomAngle" Angle="355"/>
	<config Str="RandomAngle" Angle="282"/>
	<config Str="RandomAngle" Angle="147"/>
	<config Str="RandomAngle" Angle="113"/>
	<config Str="RandomAngle" Angle="37"/>
	<config Str="RandomAngle" Angle="207"/>
	<config Str="RandomAngle" Angle="325"/>
	<config Str="RandomAngle" Angle="148"/>
	<config Str="RandomAngle" Angle="271"/>
	<config Str="RandomAngle" Angle="231"/>
	<config Str="RandomAngle" Angle="257"/>
	<config Str="RandomAngle" Angle="143"/>
	<config Str="RandomAngle" Angle="121"/>
	<config Str="RandomAngle" Angle="319"/>
	<config Str="RandomAngle" Angle="119"/>
	<config Str="RandomAngle" Angle="12"/>
	<config Str="RandomAngle" Angle="233"/>
	<config Str="RandomAngle" Angle="1"/>
	<config Str="RandomAngle" Angle="209"/>
	<config Str="RandomAngle" Angle="195"/>
	<config Str="RandomAngle" Angle="141"/>
	<config Str="RandomAngle" Angle="133"/>
	<config Str="RandomAngle" Angle="66"/>
	<config Str="RandomAngle" Angle="146"/>
	<config Str="RandomAngle" Angle="241"/>
	<config Str="RandomAngle" Angle="217"/>
	<config Str="RandomAngle" Angle="6"/>
	<config Str="RandomAngle" Angle="188"/>
	<config Str="RandomAngle" Angle="114"/>
	<config Str="RandomAngle" Angle="115"/>
	<config Str="RandomAngle" Angle="196"/>
	<config Str="RandomAngle" Angle="145"/>
	<config Str="RandomAngle" Angle="249"/>
	<config Str="RandomAngle" Angle="47"/>
	<config Str="RandomAngle" Angle="95"/>
	<config Str="RandomAngle" Angle="339"/>
	<config Str="RandomAngle" Angle="214"/>
	<config Str="RandomAngle" Angle="289"/>
	<config Str="RandomAngle" Angle="5"/>
	<config Str="RandomAngle" Angle="102"/>
	<config Str="RandomAngle" Angle="36"/>
	<config Str="RandomAngle" Angle="318"/>
	<config Str="RandomAngle" Angle="310"/>
	<config Str="RandomAngle" Angle="97"/>
	<config Str="RandomAngle" Angle="221"/>
	<config Str="RandomAngle" Angle="60"/>
	<config Str="RandomAngle" Angle="174"/>
	<config Str="RandomAngle" Angle="192"/>
	<config Str="RandomAngle" Angle="69"/>
	<config Str="RandomAngle" Angle="253"/>
	<config Str="RandomAngle" Angle="28"/>
	<config Str="RandomAngle" Angle="175"/>
	<config Str="RandomAngle" Angle="212"/>
	<config Str="RandomAngle" Angle="332"/>
	<config Str="RandomAngle" Angle="42"/>
	<config Str="RandomAngle" Angle="256"/>
	<config Str="RandomAngle" Angle="232"/>
	<config Str="RandomAngle" Angle="359"/>
	<config Str="RandomAngle" Angle="230"/>
	<config Str="RandomAngle" Angle="34"/>
	<config Str="RandomAngle" Angle="118"/>
	<config Str="RandomAngle" Angle="71"/>
	<config Str="RandomAngle" Angle="155"/>
	<config Str="RandomAngle" Angle="191"/>
	<config Str="RandomAngle" Angle="340"/>
	<config Str="RandomAngle" Angle="44"/>
	<config Str="RandomAngle" Angle="101"/>
	<config Str="RandomAngle" Angle="194"/>
	<config Str="RandomAngle" Angle="98"/>
	<config Str="RandomAngle" Angle="276"/>
	<config Str="RandomAngle" Angle="20"/>
	<config Str="RandomAngle" Angle="351"/>
	<config Str="RandomAngle" Angle="316"/>
	<config Str="RandomAngle" Angle="264"/>
	<config Str="RandomAngle" Angle="108"/>
	<config Str="RandomAngle" Angle="239"/>
	<config Str="RandomAngle" Angle="204"/>
	<config Str="RandomAngle" Angle="234"/>
	<config Str="RandomAngle" Angle="181"/>
	<config Str="RandomAngle" Angle="267"/>
	<config Str="RandomAngle" Angle="290"/>
	<config Str="RandomAngle" Angle="199"/>
	<config Str="RandomAngle" Angle="32"/>
	<config Str="RandomAngle" Angle="24"/>
	<config Str="RandomAngle" Angle="25"/>
	<config Str="RandomAngle" Angle="248"/>
	<config Str="RandomAngle" Angle="139"/>
	<config Str="RandomAngle" Angle="70"/>
	<config Str="RandomAngle" Angle="88"/>
	<config Str="RandomAngle" Angle="14"/>
	<config Str="RandomAngle" Angle="105"/>
	<config Str="RandomAngle" Angle="91"/>
	<config Str="RandomAngle" Angle="40"/>
	<config Str="RandomAngle" Angle="210"/>
	<config Str="RandomAngle" Angle="112"/>
	<config Str="RandomAngle" Angle="3"/>
	<config Str="RandomAngle" Angle="149"/>
	<config Str="RandomAngle" Angle="158"/>
	<config Str="RandomAngle" Angle="156"/>
	<config Str="RandomAngle" Angle="48"/>
	<config Str="RandomAngle" Angle="258"/>
	<config Str="RandomAngle" Angle="279"/>
	<config Str="RandomAngle" Angle="236"/>
	<config Str="RandomAngle" Angle="281"/>
	<config Str="RandomAngle" Angle="286"/>
	<config Str="RandomAngle" Angle="172"/>
	<config Str="RandomAngle" Angle="15"/>
	<config Str="RandomAngle" Angle="180"/>
	<config Str="RandomAngle" Angle="19"/>
	<config Str="RandomAngle" Angle="343"/>
	<config Str="RandomAngle" Angle="275"/>
	<config Str="RandomAngle" Angle="326"/>
	<config Str="RandomAngle" Angle="296"/>
	<config Str="RandomAngle" Angle="244"/>
	<config Str="RandomAngle" Angle="50"/>
	<config Str="RandomAngle" Angle="111"/>
	<config Str="RandomAngle" Angle="178"/>
	<config Str="RandomAngle" Angle="161"/>
	<config Str="RandomAngle" Angle="335"/>
	<config Str="RandomAngle" Angle="183"/>
	<config Str="RandomAngle" Angle="96"/>
	<config Str="RandomAngle" Angle="29"/>
	<config Str="RandomAngle" Angle="17"/>
	<config Str="RandomAngle" Angle="55"/>
	<config Str="RandomAngle" Angle="205"/>
	<config Str="RandomAngle" Angle="100"/>
	<config Str="RandomAngle" Angle="329"/>
	<config Str="RandomAngle" Angle="116"/>
	<config Str="RandomAngle" Angle="242"/>
	<config Str="RandomAngle" Angle="153"/>
	<config Str="RandomAngle" Angle="186"/>
	<config Str="RandomAngle" Angle="297"/>
	<config Str="RandomAngle" Angle="57"/>
	<config Str="RandomAngle" Angle="347"/>
	<config Str="RandomAngle" Angle="198"/>
	<config Str="RandomAngle" Angle="189"/>
	<config Str="RandomAngle" Angle="235"/>
	<config Str="RandomAngle" Angle="177"/>
	<config Str="RandomAngle" Angle="225"/>
	<config Str="RandomAngle" Angle="162"/>
	<config Str="RandomAngle" Angle="247"/>
	<config Str="RandomAngle" Angle="348"/>
	<config Str="RandomAngle" Angle="323"/>
	<config Str="RandomAngle" Angle="288"/>
	<config Str="RandomAngle" Angle="245"/>
	<config Str="RandomAngle" Angle="11"/>
	<config Str="RandomAngle" Angle="287"/>
	<config Str="RandomAngle" Angle="9"/>
	<config Str="RandomAngle" Angle="240"/>
	<config Str="RandomAngle" Angle="243"/>
	<config Str="RandomAngle" Angle="344"/>
	<config Str="RandomAngle" Angle="144"/>
	<config Str="RandomAngle" Angle="124"/>
	<config Str="RandomAngle" Angle="330"/>
	<config Str="RandomAngle" Angle="62"/>
	<config Str="RandomAngle" Angle="219"/>
	<config Str="RandomAngle" Angle="215"/>
	<config Str="RandomAngle" Angle="23"/>
	<config Str="RandomAngle" Angle="357"/>
	<config Str="RandomAngle" Angle="136"/>
	<config Str="RandomAngle" Angle="10"/>
	<config Str="RandomAngle" Angle="309"/>
	<config Str="RandomAngle" Angle="311"/>
	<config Str="RandomAngle" Angle="131"/>
	<config Str="RandomAngle" Angle="307"/>
	<config Str="RandomAngle" Angle="79"/>
	<config Str="RandomAngle" Angle="238"/>
	<config Str="RandomAngle" Angle="252"/>
	<config Str="RandomAngle" Angle="336"/>
	<config Str="RandomAngle" Angle="284"/>
	<config Str="RandomAngle" Angle="76"/>
	<config Str="RandomAngle" Angle="151"/>
	<config Str="RandomAngle" Angle="92"/>
	<config Str="RandomAngle" Angle="33"/>
	<config Str="RandomAngle" Angle="218"/>
	<config Str="RandomAngle" Angle="201"/>
	<config Str="RandomAngle" Angle="170"/>
	<config Str="RandomAngle" Angle="324"/>
	<config Str="RandomAngle" Angle="263"/>
	<config Str="RandomAngle" Angle="224"/>
	<config Str="RandomAngle" Angle="35"/>
	<config Str="RandomAngle" Angle="30"/>
	<config Str="RandomAngle" Angle="269"/>
	<config Str="RandomAngle" Angle="315"/>
	<config Str="RandomAngle" Angle="107"/>
	<config Str="RandomAngle" Angle="110"/>
	<config Str="RandomAngle" Angle="352"/>
	<config Str="RandomAngle" Angle="292"/>
	<config Str="RandomAngle" Angle="228"/>
	<config Str="RandomAngle" Angle="104"/>
	<config Str="RandomAngle" Angle="294"/>
	<config Str="RandomAngle" Angle="291"/>
	<config Str="RandomAngle" Angle="85"/>
	<config Str="RandomAngle" Angle="322"/>
	<config Str="RandomAngle" Angle="64"/>
	<config Str="RandomAngle" Angle="299"/>
	<config Str="RandomAngle" Angle="16"/>
	<config Str="RandomAngle" Angle="75"/>
	<config Str="RandomAngle" Angle="157"/>
	<config Str="RandomAngle" Angle="208"/>
	<config Str="RandomAngle" Angle="58"/>
	<config Str="RandomAngle" Angle="350"/>
	<config Str="RandomAngle" Angle="27"/>
	<config Str="RandomAngle" Angle="126"/>
	<config Str="RandomAngle" Angle="298"/>
	<config Str="RandomAngle" Angle="82"/>
	<config Str="RandomAngle" Angle="337"/>
	<config Str="RandomAngle" Angle="84"/>
	<config Str="RandomAngle" Angle="2"/>
	<config Str="RandomAngle" Angle="56"/>
	<config Str="RandomAngle" Angle="203"/>
	<config Str="RandomAngle" Angle="268"/>
	<config Str="RandomAngle" Angle="273"/>
	<config Str="RandomAngle" Angle="213"/>
	<config Str="RandomAngle" Angle="216"/>
	<config Str="RandomAngle" Angle="90"/>
	<config Str="RandomAngle" Angle="135"/>
	<config Str="RandomAngle" Angle="26"/>
	<config Str="RandomAngle" Angle="52"/>
	<config Str="RandomAngle" Angle="154"/>
	<config Str="RandomAngle30" Angle="11"/>
	<config Str="RandomAngle30" Angle="1"/>
	<config Str="RandomAngle30" Angle="20"/>
	<config Str="RandomAngle30" Angle="25"/>
	<config Str="RandomAngle30" Angle="22"/>
	<config Str="RandomAngle30" Angle="5"/>
	<config Str="RandomAngle30" Angle="19"/>
	<config Str="RandomAngle30" Angle="29"/>
	<config Str="RandomAngle30" Angle="17"/>
	<config Str="RandomAngle30" Angle="30"/>
	<config Str="RandomAngle30" Angle="15"/>
	<config Str="RandomAngle30" Angle="28"/>
	<config Str="RandomAngle30" Angle="14"/>
	<config Str="RandomAngle30" Angle="13"/>
	<config Str="RandomAngle30" Angle="24"/>
	<config Str="RandomAngle30" Angle="0"/>
	<config Str="RandomAngle30" Angle="23"/>
	<config Str="RandomAngle30" Angle="8"/>
	<config Str="RandomAngle30" Angle="9"/>
	<config Str="RandomAngle30" Angle="3"/>
	<config Str="RandomAngle30" Angle="26"/>
	<config Str="RandomAngle30" Angle="10"/>
	<config Str="RandomAngle30" Angle="16"/>
	<config Str="RandomAngle30" Angle="18"/>
	<config Str="RandomAngle30" Angle="12"/>
	<config Str="RandomAngle30" Angle="6"/>
	<config Str="RandomAngle30" Angle="4"/>
	<config Str="RandomAngle30" Angle="2"/>
	<config Str="RandomAngle30" Angle="7"/>
	<config Str="RandomAngle30" Angle="21"/>
	<config Str="RandomAngle30" Angle="27"/>
	<config Str="RandomDis1" Angle="0.4"/>
	<config Str="RandomDis1" Angle="1.45"/>
	<config Str="RandomDis1" Angle="1.85"/>
	<config Str="RandomDis1" Angle="0.75"/>
	<config Str="RandomDis1" Angle="0.1"/>
	<config Str="RandomDis1" Angle="0.5"/>
	<config Str="RandomDis1" Angle="0.7"/>
	<config Str="RandomDis1" Angle="1.5"/>
	<config Str="RandomDis1" Angle="0.9"/>
	<config Str="RandomDis1" Angle="0.25"/>
	<config Str="RandomDis1" Angle="0.3"/>
	<config Str="RandomDis1" Angle="0.65"/>
	<config Str="RandomDis1" Angle="1.8"/>
	<config Str="RandomDis1" Angle="0.55"/>
	<config Str="RandomDis1" Angle="0.95"/>
	<config Str="RandomDis1" Angle="0.2"/>
	<config Str="RandomDis1" Angle="0.15"/>
	<config Str="RandomDis1" Angle="1.25"/>
	<config Str="RandomDis1" Angle="1.2"/>
	<config Str="RandomDis1" Angle="1"/>
	<config Str="RandomDis1" Angle="1.4"/>
	<config Str="RandomDis1" Angle="1.55"/>
	<config Str="RandomDis1" Angle="0.35"/>
	<config Str="RandomDis1" Angle="0.6"/>
	<config Str="RandomDis1" Angle="1.05"/>
	<config Str="RandomDis1" Angle="0.05"/>
	<config Str="RandomDis1" Angle="1.3"/>
	<config Str="RandomDis1" Angle="1.1"/>
	<config Str="RandomDis1" Angle="1.75"/>
	<config Str="RandomDis1" Angle="1.15"/>
	<config Str="RandomDis1" Angle="1.7"/>
	<config Str="RandomDis1" Angle="1.65"/>
	<config Str="RandomDis1" Angle="1.95"/>
	<config Str="RandomDis1" Angle="1.6"/>
	<config Str="RandomDis1" Angle="2"/>
	<config Str="RandomDis1" Angle="1.35"/>
	<config Str="RandomDis1" Angle="0.85"/>
	<config Str="RandomDis1" Angle="0.45"/>
	<config Str="RandomDis1" Angle="1.9"/>
	<config Str="RandomDis1" Angle="0.8"/>
	<config Str="LifeSuckRan" Int="165"/>
	<config Str="LifeSuckRan" Int="315"/>
	<config Str="LifeSuckRan" Int="60"/>
	<config Str="LifeSuckRan" Int="105"/>
	<config Str="LifeSuckRan" Int="345"/>
	<config Str="LifeSuckRan" Int="120"/>
	<config Str="LifeSuckRan" Int="135"/>
	<config Str="LifeSuckRan" Int="240"/>
	<config Str="LifeSuckRan" Int="75"/>
	<config Str="LifeSuckRan" Int="225"/>
	<config Str="LifeSuckRan" Int="285"/>
	<config Str="LifeSuckRan" Int="180"/>
	<config Str="LifeSuckRan" Int="150"/>
	<config Str="LifeSuckRan" Int="30"/>
	<config Str="LifeSuckRan" Int="255"/>
	<config Str="LifeSuckRan" Int="330"/>
	<config Str="LifeSuckRan" Int="270"/>
	<config Str="LifeSuckRan" Int="45"/>
	<config Str="LifeSuckRan" Int="300"/>
	<config Str="LifeSuckRan" Int="90"/>
	<config Str="LifeSuckRan" Int="210"/>
	<config Str="LifeSuckRan" Int="195"/>
	<config Str="LifeSuckRan" Int="360"/>
	<config Str="LifeSuckRan" Int="375"/>
</root>
